<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <link rel="icon" href="{% static 'undraw_unicorn_dp2f.svg' %}" type="image/gif" sizes="16x16">

</head>

<body style="overflow-x:hidden; background-image: linear-gradient(to right, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
	
	<div class="row">
		<div class="col-sm-5 section">
			<img class="homeImage" src="{% static 'undraw_unicorn_dp2f.svg' %}">
		</div>
		<div class="col-sm-7 section" style="padding-right:5vw;">
			<h1 class="title">Dataxon</h1>
			<div class="line"></div>
			<p class="text" style="text-align: justify;">
				Dataxon is a program that imports data from WikiData's articles, specifically
				the animal section. This app can infer the characteristics of animals listed in WikiData.
				Curious about the animals you just saw at the zoo? Check! Want to research your favorite
				animal? We got it all covered!
			</p>
			<br>
			<a class="startBtn btn-primary" href="{% url 'homepage:search' %}" role="button" style="margin-left: 11.5%;padding: 0 20px 0 20px;">Start</a>
		</div>
	</div>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
