<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title>Search Animal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <link rel="icon" href="{% static 'undraw_unicorn_dp2f.svg' %}" type="image/gif" sizes="16x16">

</head>

<body style="overflow-x:hidden; background-image: linear-gradient(to right, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);">
    
    <br><br>
    <h class="font-weight-bold" style="font-size: 5vh; margin-left: 9.5%;">What characteristics does this animal have?</h>
	<br><br>
    <form method="post" action="/search/">
        {% csrf_token %}
        <div style="margin-left: 10px; margin-right: 10px;">
        <div class="form-row">
            <div class="col-sm-1"></div>
            <div class="form-group col-sm-10">
                <div class="form-group">
                    <label for="name">Animal's wikidata id / name / scientific name:</label>
                    <input class="form-control" id="animal" type="text" name="animal" maxlength="255" required placeholder="Q269728" value="{% if wiki_id %} {{ wiki_id }} {% endif %}">
                </div>
            </div>
        </div>
        <div class="form-row">
            <input name="submit" id="submitBtn" type="submit" class="btn btn-secondary" style="margin-left: 9.2%;" value="Submit">
        </div>
      </form>

        <!-- Displaying Animal Data by Fransiscus Emmanuel Bunaren -->
        <center/>
        <h2>
        Sorry, we can't find the animal that you want from wikidata. 
        Probably the keyword that you search does not exist in wikidata, or there is no taxonomy information about that keyword.
        </h2>

        <h3>
        <br/>We suggest you to :
        <br/>Change the keyword
        <br/>or simply type the Wikidata ID (Make sure that the data has "parent taxon" predicate)
        </h3>
        

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>
