<!doctype html>
{% load static %}
<html lang="en">
<head>
  <title>Search Animal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'custom.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
  <link rel="icon" href="{% static 'undraw_unicorn_dp2f.svg' %}" type="image/gif" sizes="16x16">

</head>

<style>
body{
	margin: auto;
	max-width: 900px;
    background-color:rgba(0,0,0,0);
}   
</style>

<script>
col_num = 0;
function random_rgba() {
    pastel_colors = ['#FF9AA2' ,'#FFDAC1','#E2F0CB','#B5EAD7', '#FFB7B2' ,'#C7CEEA']
    res = pastel_colors[col_num];
    col_num = (col_num + 1) % pastel_colors.length;
    return res;
}

</script>

<style>
td:nth-child(2) {
    padding-right: 100px;
}​
</style>

<html style="background-image:url(/static/bg.jpg);"/>

<body style="overflow-x:hidden;"> <!-- background-color:#F8D48E;" -->
    
    <br><br>
    
    <center>
    <div style="background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);color:white;border:1px solid white;">
        <h class="font-weight-bold" style="font-size: 5vh;">🦔 What characteristics does this animal have?</h>
	    <br><br><br>
    </div>

    <div style="background-color:white;">
        <form method="post" action="/search/">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm-1"></div>
                <div class="form-group col-sm-10">
                    <div class="form-group">
                        <label for="name">Animal's wikidata id / name / scientific name:</label>
                        <input class="form-control" id="animal" type="text" name="animal" maxlength="255" required placeholder="Manis javanica" value="{% if wiki_id %} {{ wiki_id }} {% endif %}">
                    </div>
                    <b>Suggestion</b> : Try Searching <a class="btn btn-success" style="padding:2px;" onclick="animal.value = '{{ suggest }}';"><font color="white">{{ suggest }}</font></a>
                </div>
            </div>
            <div class="form-row">
                <input name="submit" id="submitBtn" type="submit" class="submitBtn btn-primary" style="margin-left: 9.2%;" value="Submit">
            </div>
        </form>
    </div>

        <!-- Displaying Animal Data by Fransiscus Emmanuel Bunaren -->

        {% if name %}
        <table>
            <tr>
                <td class="polaroid">
                    <div class="card" style="width: 18rem;">
                        <center>
                            <img src="{{ image }}" alt="Card image cap" width="200px">
                        </center>
                        <div class="card-body">
                            <h5 class="card-title">{{ name }} ( {{ taxon_name }} )</h5>
                            <h5 class="card-title"></h5>
                            <p class="card-text">{{ description }}</p>

                            {% for info in taxon %}
                                <span class="rectangleLeft" style="color:white;">{{ info.label }}</span> <span class="rectangleRight" data-toggle="tooltip" title='{{ info.description }}'>{{ info.value }}</span><br/>
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                </td>

                <td>&nbsp;</td>

                <td>
                    <div class="polaroid" style="width:350px">
                        <h2 style="background:#fbf063;">Inferred Facts</h2>
                        {% for fact in facts %}
                            <li/><big class="fact" style="font-size:24px;background-color:yellowgreen;"> {{ fact }} </big>
                        {% endfor %}
                    </div>
                </td>

        {% endif %}
        <br/><br/>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
<script>
    $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();
    });


    facts = document.getElementsByClassName("fact");
    
    for (i =0 ; i< facts.length ;i++){
        tmp = random_rgba();
        facts[i].style.backgroundColor = tmp;
        facts[i].style.color = "black";
    }
</script>
</html>
