.homeImage {
	position: relative;
	margin-top: 30vh;
	margin-left: 5vw;
	width: 40vw;
	height: 50vh;
}

.polaroid {
	width: 284px;
	padding: 10px 10px 20px 10px;
	border: 1px solid #BFBFBF;
	background-color: white;
	box-shadow: 10px 10px 5px #aaaaaa;
}

.title {
	position: relative;
	margin-top: 20vh;
	margin-left: 5.7vw;
	
	font-family: Catamaran;
	font-style: normal;
	font-weight: normal;
	font-size: 5vw;

	color: #ffffff;
}

.line {
	position: relative;
	margin-left: 6.2vw;
	margin-bottom: 4.5vh;
	height: 2px;
	width: 400px;
	background-color: #ffffff;
	border-radius: 50px;
}

.text {
	position: relative;
	margin-left: 6vw;
	font-family: Catamaran;
	font-style: normal;
	font-weight: normal;
	font-size: 2.5vw;
	line-height: 5.5vh;

	color: #ffffff;
}

.startBtn {
	position: relative;
	width: 200px;
	height: 50px;
	margin-left: 20vw;
	margin-top: 10vh;
	
	font-family: Catamaran;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 15px;

	color: #ffffff;

	background: #2cb5e8;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	border-radius: 50px;
}

.submitBtn {
	position: relative;
	width: 200px;
	height: 50px;
	margin-left: 20vw;
	margin-bottom: 3vw;
	
	font-family: Catamaran;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 15px;

	color: #ffffff;

	background: #2cb5e8;
	border: 4px solid #ffffff;
	box-sizing: border-box;
	border-radius: 50px;
}

.rectangleLeft {
	line-height: 30px;
	border-radius: 30px 0 0 30px;
	padding: 3px 10px 3px 10px;
	background-color: chocolate;
	vertical-align: middle;
}

.rectangleRight {
	line-height: 30px;
	border-radius: 0 30px 30px 0;
	padding: 3px 10px 3px 10px;
	background-color: goldenrod;
	vertical-align: middle;
}

.searchRow {
	/*display: inline-block;*/
	width: 500px;
	min-width: 500px;
	margin: 0 10px;
	text-align: center;
}